 .Title{
  text-align: center;
}

body{
  background-color: lightblue;
}

/* Position the Calendar */
.calendar{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
  height: 30%; 
}
/* Style the Month button and arrows */
.react-calendar__navigation{
  display: flex;

  .react-calendar__navigation__label{
    font-weight: bold;
  }
  .react-calendar__navigation__arrow{
    flex-grow: 0.333;
  }
}
/* Center the Weekday Labels */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
}
/* Style the buttons on the calendar */
.calendar button{
  background-color: lightseagreen;
}

.calendar button:focus{
  background-color: white;
}

/* Events Box Styling */
.eventsBox{
  position: absolute;
  top: 40%;
  width: 48%;
  height: 55%;
  border-style: solid;
  border-width: medium;
}
.eventsBox__title{
  text-align: center;
}

/* Add Events Box Styling */
.addBox{  
  position: absolute;
  left: 50%;
  top: 40%;
  width: 48%;
  height: 55%;
  border-style: solid;
  border-width: medium;
}
.addBox__title{
  text-align: center;
}
.addBox__content{
  padding-left: 2%;
}
.addBox input{
  width: 50%;
  padding: 1.2%;
}

/* GMU Events Button Styling */
.gmuEventsButton{
  position: absolute;
  left: 46%;
  top: 36%;
}
