

.login-page1 {
    height: 100vh;
    position:relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.login-page1 .row {
    height: 150%;
}

.text-part {   
    width: 70%;
    padding: 5px;
    margin:100px;
}

input {
    margin-top: 15px;
    height: 50px;
    width: 50%;
}

button {
    font-size:20px;
    height: 50px;
    margin-top: 15px;
    width: 50%;
    background-color: brown;
    color: white;
}

h1 {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: brown;
    font-weight:bold;
    margin: 30px 200px;
    
}
a{
    color:rgb(16, 19, 206);
}
img{
    height: 400px;
    margin: -400px 400px;
    float: right;
    /* width: 150px;
    height: 38px; */
}
.login-page1-rectangle{
    width: 980px;
    height: 260vh;
    background-color:brown;
    position: absolute;
    right:-400px;
    bottom: -550px;
    transform: rotate(30deg);
    z-index: -1;
}
